<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-document-viewer"
        xmlns:android="http://schemas.android.com/apk/res/android"
        version="0.9.10">
    <engines>
        <engine name="cordova" version=">=3.7.0"/>
        <engine name="cordova-windows" version=">=4.4.0"/>
    </engines>
    <name>SitewaertsDocumentViewer</name>
    <description>Document viewer cordova plugin for iOS, Android and Windows 8.1 + 10</description>
    <author>Felix Schauerte</author>
    <email>schauerte@sitewaerts.de</email>
    <license>MIT</license>

    <js-module src="www/sitewaertsdocumentviewer.js"
               name="SitewaertsDocumentViewer">
        <clobbers target="cordova.plugins.SitewaertsDocumentViewer"/>
        <clobbers target="SitewaertsDocumentViewer"/>
    </js-module>

<!-- uncomment this if you get MuPDF to work with content:// uris -->
<!--
    <dependency id="android.support.v4" url="https://github.com/MobileChromeApps/cordova-plugin-android-support-v4.git"  />
 -->

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="SitewaertsDocumentViewer">
                <param name="android-package"
                       value="de.sitewaerts.cordova.documentviewer.DocumentViewerPlugin"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission
                    android:name="android.permission.READ_EXTERNAL_STORAGE"/>
        </config-file>

        <!--see http://stackoverflow.com/questions/38200282/android-os-fileuriexposedexception-file-storage-emulated-0-test-txt-exposed-->
        <!--see https://github.com/sitewaerts/cordova-plugin-document-viewer/issues/105-->
        <framework src="com.android.support:support-v4:27+" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

             <provider
                android:name="de.sitewaerts.cordova.documentviewer.FileProvider"
                android:authorities="$PACKAGE_NAME.DocumentViewerPlugin.fileprovider"
                android:exported="false"
                android:grantUriPermissions="true">
                <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/documentviewer_file_paths" />
            </provider>

        </config-file>
        <source-file
            src="src/android/res/xml/documentviewer_file_paths.xml"
            target-dir="res/xml"/>

        <source-file
          src="src/android/de/sitewaerts/cordova/documentviewer/FileProvider.java" 
          target-dir="src/de/sitewaerts/cordova/documentviewer"/>

        <source-file
                src="src/android/de/sitewaerts/cordova/documentviewer/DocumentViewerPlugin.java"
                target-dir="src/de/sitewaerts/cordova/documentviewer"/>
     </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="SitewaertsDocumentViewer">
                <param name="ios-package" value="SitewaertsDocumentViewer"/>
            </feature>
        </config-file>

        <header-file src="src/ios/sitewaerts/SitewaertsDocumentViewer.h"/>
        <source-file src="src/ios/sitewaerts/SitewaertsDocumentViewer.m"/>

        <header-file src="src/ios/vfr/CGPDFDocument.h"/>
        <source-file src="src/ios/vfr/CGPDFDocument.m"/>
        <header-file src="src/ios/vfr/ReaderConstants.h"/>
        <source-file src="src/ios/vfr/ReaderConstants.m"/>
        <header-file src="src/ios/vfr/ReaderContentPage.h"/>
        <source-file src="src/ios/vfr/ReaderContentPage.m"/>
        <header-file src="src/ios/vfr/ReaderContentTile.h"/>
        <source-file src="src/ios/vfr/ReaderContentTile.m"/>
        <header-file src="src/ios/vfr/ReaderContentView.h"/>
        <source-file src="src/ios/vfr/ReaderContentView.m"/>
        <header-file src="src/ios/vfr/ReaderDocument.h"/>
        <source-file src="src/ios/vfr/ReaderDocument.m"/>
        <header-file src="src/ios/vfr/ReaderDocumentOutline.h"/>
        <source-file src="src/ios/vfr/ReaderDocumentOutline.m"/>
        <header-file src="src/ios/vfr/ReaderMainPagebar.h"/>
        <source-file src="src/ios/vfr/ReaderMainPagebar.m"/>
        <header-file src="src/ios/vfr/ReaderMainToolbar.h"/>
        <source-file src="src/ios/vfr/ReaderMainToolbar.m"/>
        <header-file src="src/ios/vfr/ReaderMainToolbar+SDVReaderMainToolbarPassThrough.h"/>
        <source-file src="src/ios/vfr/ReaderMainToolbar+SDVReaderMainToolbarPassThrough.m"/>
        <header-file src="src/ios/vfr/ReaderThumbCache.h"/>
        <source-file src="src/ios/vfr/ReaderThumbCache.m"/>
        <header-file src="src/ios/vfr/ReaderThumbFetch.h"/>
        <source-file src="src/ios/vfr/ReaderThumbFetch.m"/>
        <header-file src="src/ios/vfr/ReaderThumbQueue.h"/>
        <source-file src="src/ios/vfr/ReaderThumbQueue.m"/>
        <header-file src="src/ios/vfr/ReaderThumbRender.h"/>
        <source-file src="src/ios/vfr/ReaderThumbRender.m"/>
        <header-file src="src/ios/vfr/ReaderThumbRequest.h"/>
        <source-file src="src/ios/vfr/ReaderThumbRequest.m"/>
        <header-file src="src/ios/vfr/ReaderThumbsView.h"/>
        <source-file src="src/ios/vfr/ReaderThumbsView.m"/>
        <header-file src="src/ios/vfr/ReaderThumbView.h"/>
        <source-file src="src/ios/vfr/ReaderThumbView.m"/>
        <header-file src="src/ios/vfr/ReaderViewController.h"/>
        <source-file src="src/ios/vfr/ReaderViewController.m"/>
        <header-file src="src/ios/vfr/ReaderViewController+SDVReaderViewControllerPassThrough.h"/>
        <source-file src="src/ios/vfr/ReaderViewController+SDVReaderViewControllerPassThrough.m"/>
        <header-file src="src/ios/vfr/SDVReaderContentViewDoublePage.h"/>
        <source-file src="src/ios/vfr/SDVReaderContentViewDoublePage.m"/>
        <header-file src="src/ios/vfr/SDVReaderMainPagebar.h"/>
        <source-file src="src/ios/vfr/SDVReaderMainPagebar.m"/>
        <header-file src="src/ios/vfr/SDVReaderMainToolbar.h"/>
        <source-file src="src/ios/vfr/SDVReaderMainToolbar.m"/>
        <header-file src="src/ios/vfr/SDVReaderViewController.h"/>
        <source-file src="src/ios/vfr/SDVReaderViewController.m"/>
        <header-file src="src/ios/vfr/SDVThumbsMainToolbar.h"/>
        <source-file src="src/ios/vfr/SDVThumbsMainToolbar.m"/>
        <header-file src="src/ios/vfr/SDVThumbsViewController.h"/>
        <source-file src="src/ios/vfr/SDVThumbsViewController.m"/>
        <header-file src="src/ios/vfr/ThumbsMainToolbar.h"/>
        <source-file src="src/ios/vfr/ThumbsMainToolbar.m"/>
        <header-file src="src/ios/vfr/ThumbsMainToolbar+SDVThumbsMainToolbarPassThrough.h"/>
        <source-file src="src/ios/vfr/ThumbsMainToolbar+SDVThumbsMainToolbarPassThrough.m"/>
        <header-file src="src/ios/vfr/ThumbsViewController.h"/>
        <source-file src="src/ios/vfr/ThumbsViewController.m"/>
        <header-file src="src/ios/vfr/ThumbsViewController+SDVThumbsViewControllerPassThrough.h"/>
        <source-file src="src/ios/vfr/ThumbsViewController+SDVThumbsViewControllerPassThrough.m"/>
        <header-file src="src/ios/vfr/UIXToolbarView.h"/>
        <source-file src="src/ios/vfr/UIXToolbarView.m"/>


        <resource-file src="src/ios/Graphics/Default-568h@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Button-H.png"/>
        <resource-file src="src/ios/Graphics/Reader-Button-H@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Button-N.png"/>
        <resource-file src="src/ios/Graphics/Reader-Button-N@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Email.png"/>
        <resource-file src="src/ios/Graphics/Reader-Email@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Export.png"/>
        <resource-file src="src/ios/Graphics/Reader-Export@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Mark-N.png"/>
        <resource-file src="src/ios/Graphics/Reader-Mark-N@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Mark-Y.png"/>
        <resource-file src="src/ios/Graphics/Reader-Mark-Y@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Print.png"/>
        <resource-file src="src/ios/Graphics/Reader-Print@2x.png"/>
        <resource-file src="src/ios/Graphics/Reader-Thumbs.png"/>
        <resource-file src="src/ios/Graphics/Reader-Thumbs@2x.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-CoverPage.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-CoverPage@2x.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-DoublePage.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-DoublePage@2x.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-Outline.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-Outline@2x.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-SinglePage.png"/>
        <resource-file src="src/ios/Graphics/SDVReader-SinglePage@2x.png"/>


        <framework src="UIKit.framework"/>
        <framework src="Foundation.framework"/>
        <framework src="CoreGraphics.framework"/>
        <framework src="QuartzCore.framework"/>
        <framework src="ImageIO.framework"/>
        <framework src="MessageUI.framework"/>


    </platform>

    <platform name="windows">
        <js-module src="src/windows/sitewaertsdocumentviewerProxy_native.js"
                   name="SitewaertsDocumentViewerProxy">
            <merges target=""/>
        </js-module>

        <asset src="src/windows/sitewaertsdocumentviewer" target="sitewaertsdocumentviewer" />

        <asset src="src/common/js/winjs" target="sitewaertsdocumentviewer/js/winjs" />
        <asset src="src/common/js/angular" target="sitewaertsdocumentviewer/js/angular" />
        <asset src="src/common/js/angular-winjs/js" target="sitewaertsdocumentviewer/js/angular-winjs" />
        <asset src="src/common/js/pdfjs-dist/build" target="sitewaertsdocumentviewer/js/pdfjs-dist" />
        <asset src="src/common/js/jquery/dist" target="sitewaertsdocumentviewer/js/jquery" />
    </platform>


</plugin>
